.containercard {
	background-color: blue($color: #0c3046);
}

.containerflex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.containerflexbutton {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	margin: 0;
	padding: 0;
}
